<section id="footer">
          <div class="links">
              <a href = "https://github.com/losina"><img src="/img/logo/github-logo.png" style="height:28px"></img></a>
              <a href = "https://www.linkedin.com/in/jina-lo/"><img src="/img/logo/linkedin-logo.png" style="height:28px"></img></a>
              <a href = "mailto: jinalo@sas.upenn.edu"><img src="/img/logo/email-logo.png" style="height:28px"></img></a>
          </div>

          <p>© Copyright 2019 Jina Lo</p>

</section>