<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/"> JL </a>
    <button class="navbar-toggler ml-auto float-xs-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto" id="sidebar">
          <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="/programming">Programming</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/design">Design</a>
          </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Journal
          </a>
          <div class="dropdown-menu dropdown-menu-right w-50" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Inspirations</a>
            <a class="dropdown-item" href="#">Art</a>
            <a class="dropdown-item" href="#">Movies</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact</a>
        </li>
      </ul>
    </div>
  </nav>