<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
  <!-- Bootstrap Things -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Jina Lo</title>

</head>

<body>
    <section id="intro">
            <div class="container-fluid">
                <%- include('partials/header'); -%>
            </div>
    </section>
    <div class="design-description">
      <div class="stroke-container">
          <div class="design-description-text">
              <h2> DESIGN</h2>
              <h3> Graphic and UI/UX Design</h3>
              <h4> Banners | Posters | Pamphlets & Magazines | UI/UX</h4>    
          </div>
          <img  class="stroke des-stroke" src="/img/yellow-stroke.png"></img>

      </div>
      
      
    </div>
    <div class="design_container">
      <div class="grid-row1">
          <div class="row1-item row-item"> 
            <img src="/img/design/Kpensa_GameNight.svg">
            <div class="img-title">
              <h2>K-Pensa Game Night</h2>
              <p>Facebook banner design</p>
            </div>
          </div>
          <div class="row1-item row-item"> 
            <img src="/img/design/Kpensa_FacultyPanel.svg">
            <div class="img-title">
                <h2>K-Pensa Faculty Panel</h2>
                <p>Facebook banner design</p>
              </div>
          </div>
      </div>
      <div class="grid-row2">
        <div class="row2-item row-item">
          <img src="/img/design/PRED_Conference.svg">
            <div class="img-title">
              <h2>PreD Conference</h2>
              <p>Poster design</p>
            </div>
        </div>
        <div class="row2 row-item">
          <img src="/img/design/LuxetNox.svg">
          <div class="img-title">
              <h2>Lux et Nox</h2>
              <p>Magazine Design</p>
          </div>
        </div>
        <div class="row2-item row-item">
          <img src="/img/design/TEDxHanRiverPoster.png">
          <div class="img-title">
              <h2>TEDxHanRiver</h2>
              <p>Poster design</p>
            </div>
        </div>
      </div>
      <div class="grid-row3">
          <div class="row3-item1 row-item">
             <img src="/img/design/TEDxHanRiverPamphlet.svg">
             <div class="img-title">
                <h2>TEDxHanRiver</h2>
                <p>Pamphlet design</p>
              </div>
          </div>
          <div class="row3-item2 row-item">
             <img src="/img/design/TEDxYouthPoster.svg">
             <div class="img-title">
                <h2>TEDxYouth@HAFS</h2>
                <p>Poster design</p>
              </div>
          </div>
      </div>

          
          
    </div>


    <%- include('partials/footer'); -%>

</body>
<script>
    $(document).ready(function(){
      $('.row-item').hover( function() {
      $(this).find('.img-title').css("display", "block")
      }, function() {
        $(this).find('.img-title').css("display", "none")
      })
    });
  
  </script>
</html>