<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
  <!-- Bootstrap Things -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Jina Lo</title>
</head>

<body>
  <section id="intro">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"> JL </a>
            <button class="navbar-toggler ml-auto float-xs-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="#navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav ml-auto flex-column" id="sidebar">

                <li class="nav-item">
                  <a class="nav-link" href="/programming">Programming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/design">Design</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/photography">Photography</a>
                    </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Journal
                  </a>
                  <div class="dropdown-menu dropdown-menu-right w-50" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/journal/inspiration">Inspirations</a>
                    <a class="dropdown-item" href="/journal/art">Art</a>
                    <a class="dropdown-item" href="/journal/movies">Movies</a>
                  </div>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="#footer">Contact</a>
                </li>
              </ul>
            </div>
          </nav>

      <div class="intro-text">
        <h1 class="intro-header highlight">JINA LO</h1>
        <h2 class="intro-head-des"> Developer & Designer </h2>
        <p class="main-intro-des">
          Hi, I am a junior studying computer science at the University of Pennsylvania. <br />
          I am a programmer and a designer, interested in <span class="highlight"> data science, web/app development and UI/UX design.</span>
        </p>
      </div>
    </div>
    <div class="section-nav"> <a href="#skills">SKILLS</a> • <a href="#portfolio">PORTFOLIO</a> • <a href="#exp"> WORK EXPERIENCE</a> </div>
  </section>

  <!-- animation 배워서 각 feature hover 하면 rotate하듯이 넣기  -->
  <section id="skills" class="ivory">
  <div class="work_section">
      <h1 class="work-header">SKILLS</h1>
      <section class="container">
          <div id="pro-and-design">
              <div class="pro-and-design-text">
                <div class="stroke-container">
                    <div class="pro-text">
                        <h2> PROGRAMMING </h2>
                        <p>
                            Data Science, Full Stack Development
                        </p>
                        <h4>Java | Python | JavaScript <br> HTML | CSS | Linux </h4>
                    </div>
                    <img style="visibility:hidden" class="stroke pro-stroke" src="/img/yellow-stroke.png"></img>
    
                </div>


              </div>

              <h1 class="pro-and-design-text large-and"> x </h1>
              <div class="pro-and-design-text">
                <div class="stroke-container">
                    <div class="design-text">
                        <h2> DESIGN</h2>
                        <p>
                            Graphic Design, UI/UX Design, Photography
                        </p>
                        <h4>Photoshop | InDesign | Illustrator <br> Analog Photography | Sketch </h4>
        
                      </div>
                      <img style="visibility:hidden" class="stroke design-stroke" src="/img/yellow-stroke.png"></img>
                </div>

              </div> 
              
            </div>
      </section>
      
  </div>
  </section>
  <section id="portfolio" class="work_samples">
      <h1 class="work-header">PORTFOLIO</h1>
      <div class="container">
      
          <div class="row">
            <div class="col-md-4">
              <a href="/programming">
                <div class="card mb-4 box-shadow">
                  <div class="card-img-top" style="width: 100%;">
                      <img class="card-img-cus" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%; display: block;" src="/img/github.png" data-holder-rendered="true">
                  </div>
                  <div class="card-body">
                    <p class="card-text">View Coding Projects</p>
                  </div>
                </div>
              </a>
              </div>

              <div class="col-md-4">
                  <a href="/design">
                  <div class="card mb-4 box-shadow">
                    <div class="card-img-top" style="width: 100%;">
                        <img class="card-img-cus" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%; display: block;" src="/img/design.png" data-holder-rendered="true">
                    </div>
                    <div class="card-body">
                      <p class="card-text">View Design Works</p>
                    </div>
                  </div>
                </a>
                </div>

                <div class="col-md-4">
                    <a href="/photography">
                    <div class="card mb-4 box-shadow">
                      <div class="card-img-top" style="width: 100%;">
                          <img class="card-img-cus" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%; display: block;" src="/img/photo.png" data-holder-rendered="true">
                      </div>
                      <div class="card-body">
                        <p class="card-text">View Photography</p>
                      </div>
                    </div>
                  </a>
                  </div>
              


          </div>
        </div>
          
  </section>
 <section class="ivory" id="exp">
    <h1 class="work-header ex-header">WORK EXPERIENCE</h1>
    <div class="work-content">
          <div class="timeline">
            <div class="time1 time-item"> 2019 </div>
            <div class="time2 time-item"> 2018</div>
          </div>
          <div class="work-left">
            <div class="left-item upenn1" id="work1">
              <div class="left-item-text"> UPenn: <br> gh-crawler </div>
            </div>
            <div class="left-item upenn2" id="work2">
                <div class="left-item-text"> UPenn: <br> Google CSR </div>

            </div>
            <div class="left-item ranee" id="work3">
                <div class="left-item-text">  Ranee & Company </div>

            </div>
          </div>



          <div class="work-right">
              <div class="right-item upenn1">
                <div class="tags"><h5 class="highlight">#Coding</h5><h5 class="highlight">#Research</h5><h5 class="highlight">#Python</h5><h5 class="highlight">#Linux</h5></div>  
                <h2>University of Pennsylvania</h2>
                <h3> Research Assistant, <span style="font-size:1rem">May 2019 - July 2019</span></h3>
                <ul>
                  <li> Contributed in building the data set for the Deep Neural Network that predicts possible fixes for bugs </li>
                  <li> Used Babel and PyGithub to collect ~2M buggy and fixed version of JavaScript codes from GitHub and generate the
                      abstract syntax trees</li>
                  <li> Analyzed the abstract syntax tree differences between bugs and their fixes to label the common types of fixes</li>
                  <li>Implemented Python and shell scripts to parallelize the data collection and processing, improving the speed by 45%</li>
                </ul>
              </div>
          </div>      
    </div>

    <a class="resume" href="Resume_Jina Lo.pdf">View My Full Resume ></a>
 </section>

  
  
  <%- include('partials/footer'); -%>

</body>
<script>
  var work1 = "<div class='right-item upenn1'><div class='tags'><h5 class='highlight'>#Coding</h5><h5 class='highlight'>#Research</h5><h5 class='highlight'>#Python</h5><h5 class='highlight'>#Linux</h5></div><h2>University of Pennsylvania</h2><h3>Research Assistant, <span style='font-size:1rem'> May 2019 - July 2019</span></h3><ul> <li> Contributed in building the data set for the Deep Neural Network that predicts possible fixes for bugs</li> <li>Used Babel and PyGithub to collect ~2M buggy and fixed version of JavaScript codes from GitHub and generate the abstract syntax trees</li> <li>Analyzed the abstract syntax tree differences between bugs and their fixes to label the common types of fixes</li><li>Implemented Python and shell scripts to parallelize the data collection and processing, improving the speed by 45%</li></ul></div>"
  var work3 = "<div class='right-item ranee'><div class='tags'><h5 class='highlight'>#Design</h5><h5 class='highlight'>#Marketing</h5><h5 class='highlight'>#Consulting</h5></div><h2>Ranee & Company</h2><h3>Marketing / Design Consulting Intern, <span style='font-size:1rem'> July 2018- August 2018</span></h3><ul><li>Provided consultation services for a $48 M building renovation project, resulting in an additional project with the client</li><li>Constructed a 50-page market and design research report on different shared office businesses and retail spaces supporting the team in creating further deliverables for the client</li></ul></div>"
  var work2 = "<div class='right-item upenn2'><div class='tags'><h5 class='highlight'>#Coding</h5><h5 class='highlight'>#Research</h5><h5 class='highlight'>#Java</h5><h5 class='highlight'>#Android</h5></div><h2>University of Pennsylvania - Google CSR Program</h2><h3> Research Assistant, <span style='font-size:1rem'> Dec 2018 - April 2019</span></h3><ul><li> Participated in the development of PolyDroid, a Machine Learning based tool that generates an optimized version of an input Android app with minimized resource consumption while maintaining usability </li><li> Developed a Java program that analyzes the target view and its adjacent XML elements, automating the feature collection </li></ul></div>"
  $(document).ready(function(){
      $('.left-item').click( function() {
        if (this.id == "work1") {
          $(".work-right").html(work1)
          $(".work-left .upenn1").css({"background-color":"rgb(34,42,53)", "color":"rgb(255, 204, 0)"})
          $(".work-left .upenn2").css({"background-color":"rgb(34,42,53, 0.4)", "color":"rgb(207,207,207)"})
          $(".work-left .ranee").css({"background-color":"rgb(34,42,53, 0.4)", "color":"rgb(207,207,207)"})
        } else if (this.id == "work2") {
          $(".work-right").html(work2)
          $(".work-left .upenn1").css({"background-color":"rgb(34,42,53, 0.4)", "color":"rgb(207,207,207)"})
          $(".work-left .upenn2").css({"background-color":"rgb(34,42,53)", "color":"rgb(255, 204, 0)"})
          $(".work-left .ranee").css({"background-color":"rgb(34,42,53, 0.4)", "color":"rgb(207,207,207)"})
        } else if (this.id == "work3") {
          $(".work-right").html(work3)
          $(".work-left .upenn1").css({"background-color":"rgb(34,42,53, 0.4)", "color":"rgb(207,207,207)"})
          $(".work-left .upenn2").css({"background-color":"rgb(34,42,53, 0.4)", "color":"rgb(207,207,207)"})
          $(".work-left .ranee").css({"background-color":"rgb(34,42,53)", "color":"rgb(255, 204, 0)"})
        }

      })

      $('.pro-text').hover(function() {
        $(".pro-stroke").css("visibility","visible")
      }, function() {
        $(".pro-stroke").css("visibility","hidden")
      });
      $('.design-text').hover(function() {
        $(".design-stroke").css("visibility","visible")
      }, function() {
        $(".design-stroke").css("visibility","hidden")
      })

      $('a').hover(function() {
        $(this).css({"text-decoration" : "underline", "text-decoration-color": "rgb(255, 204, 0)"})
      }, function() {
        $(this).css("text-decoration","none")
      })
    });
</script>

</html>



